body{
    font-family: 'Raleway', sans-serif;
    margin: 0;
}
#hader{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: 0%;
    margin-bottom: 10%;
    width: 100%;
    background-size: 100%;



}
h1{
    font-size: 50px;
}

.hader-part{
    width: 50%;
    padding-left: 5%;

}
.text-color{
    color:rgb(26, 194, 236);
    

}
.link-color{
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient( rgb(7, 83, 170), rgb(18, 187, 230));
    border-radius: 10px;
}
.hader-part img{
    width: 100%;
    size: 50%;
}




#dream-area{

    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
    /* width: 100%;
    background-size: 50%; */

}
.dream-area-part img{
    width: 100%;
    
    
}

.dream-area-part{
    width: 50%;
    padding-right: 5%;
}




#experience-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
     padding: 5%;
    /* width: 100%; */
    /* background-size: 50%; */ 
    

}
#experience-area-part{

    display: flex;
}
#experience-area-part h3{

    color: orangered;
}

#experience-area-part div{

    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 15px;

}

#full-stack{
    
   
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red,blue);
    border-image-slice: 1;
    padding: 10px;
}

#gd-designer{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,red);
    border-image-slice: 1;
    padding: 10px;
}


footer{
    text-align: center;
}