body{
    font-family: 'Raleway', sans-serif;
}
#hader{
    display: flex;
    background-image: url(images/top\ baner.png);
    background-repeat: no-repeat;
    margin: 0%;
    margin-bottom: 10%;


}
h1{
    font-size: 50px;
}

.hader-part{
    width: 50%;
    padding-left: 5%;

}
.text-color{
    color:rgb(26, 194, 236);

}
.link-color{
    padding: 10px 40px;
    color: white;
    text-decoration: none;
    background-image: linear-gradient( rgb(7, 83, 170), rgb(18, 187, 230));
    border-radius: 10px;
}
.hader-part img{
    width: 100%;
    size: 50%%;
}



#dream-area{

    display: flex;
    background-image: url(images/shape1-01.png);
    background-repeat: no-repeat;
    background-position: right;


}
.dream-area-part img{
    width: 100%;
    
    
}

.dream-area-part{
    width: 50%;
    padding-right: 5%;
}




#experience-area{
    background-image: url(images/shape1-01.png );
    background-repeat: no-repeat;
    background-position: left;
    padding: 5%;

}
#experience-area-part{

    display: flex;
}
#experience-area-part h3{

    color: orangered;
}

#experience-area-part div{

    box-shadow: 5px 7px 40px gray;
    height: 80%;
    margin: 15px;

}

#full-stack{
    
   
    border-left: 7px solid;
    border-image: linear-gradient(180deg,red,blue);
    border-image-slice: 1;
    padding: 10px;
}

#gd-designer{

    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue,red);
    border-image-slice: 1;
    padding: 10px;
}